
:root{
  --base-blue: #1F386B;
  --base-background : #C2B45F;
  --footer-background : #333333;
  --top-header-background: #F1F1F1;
  --text-white: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

ul.speakerclass {
  padding: 0;
}

button,
input[type="submit"] {
  background: var(--base-blue);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  padding: 5px ;
  border: 1px solid var(--base-blue);
  width: 100px;
  height: 30px;
}

button:hover {
  background-color: var(--base-background);
  color: white;
}


